@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

$white : #FFFFFF;
$grey : #686C72;
$green : #61C765;
$colour1 : #204686;
$colour2 : #0B00C4;
$colour3 : #050060;
$colour4 : #040059;

$roboto : "Roboto Flex", sans-serif;

$transition : all 0.25s linear;

body {
  background-color: $white;
  & * {
    font-family: $roboto;

  }
  img {
    max-width: 100%;
  }
  .support-btn {
    text-decoration: none;
    color: $colour3;
    font-size: 12px;
    font-weight: bold;
    padding: 14px 60px;
    border: 1px solid $colour3;
    border-radius: 5px;
    background-color: $white;
    transition: $transition;
    &:hover {
      background-color: $colour3;
      color: $white;
      transition: $transition;
    }
    &.img-btn {
      padding: 13px 25px;
      transition: $transition;
      &:hover {
        background-color: $colour3;
        transition: $transition;
        & img {
          filter: brightness(0) invert(1);
          transition: $transition;
        }
      }
    }
    &.sign-in {
      padding: 16px 27px;
      display: flex;
      gap: 19px;
      border: none;
      transition: $transition;
      &:hover {
        background-color: $colour3;
        transition: $transition;
        & img {
          filter: brightness(0) invert(1);
          transition: $transition;
        }
      }
    }
  }
  #ClientPage {
    .sidebar {
      background: #04005A;
      background-image: url(../images/sidebar-graphic.svg);
      background-image: url(../images/sidebar-graphic.svg), linear-gradient(180deg,rgba(4, 0, 90, 1) 0%, rgba(11, 0, 194, 1) 100%);
      background-size: 1300px, auto;
      background-position: 55px -425px, center;
      height: 100vh;
      color: $white;
    }
    .content {
      background-color: $white;
      height: 100vh;
      .branding {
        background-color: transparent;
        height: 100vh;
        position: relative;
        left: -18%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .support-logo {
          margin-top: 110px;
          margin-right: 24px;

        }
        .creators-logos {
          .egov-logo {
            margin: 15px 0 25px 0;
          }
        }

      }
      .main-content {
        background-color: $white;
        height: 100vh;
        position: relative;
        left: -18%;
        width: 82%;
        max-height: 100vh;
        overflow: hidden;

        &--header {
          display: flex;
          align-items: center;
          padding: 54px 0 54px 80px;
          background-color: $white;
          position: sticky;
          top: 0;
          width: 100%;
          .support-btn {
            margin-right: 35px;
            &.sign-in {
              margin-right: 0;
            }
          }
          .flag {
            margin: 0 20px;
            &-gr {
              margin-right: 5px;
              margin-left: 75px;
            }
            &-us {
              margin-left: 5px;
            }
          }
        }
        &--body {
          max-height: 85vh;
          overflow-x: hidden;
          padding-left: 80px;
        }
      }
    }
  }
}