@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

$white : #FFFFFF;
$grey : #686C72;
$green : #61C765;
$colour1 : #204686;
$colour2 : #0B00C4;
$colour3 : #050060;
$colour4 : #040059;

$roboto : "Roboto Flex", sans-serif;

$transition : all 0.25s linear;

body {
  background-color: $white;
  & * {
    font-family: $roboto;

  }
  img {
    max-width: 100%;
  }
  ::-webkit-scrollbar {
    width: 0;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  .support-btn {
    text-decoration: none;
    color: $colour3;
    font-size: 12px;
    font-weight: bold;
    padding: 25px 60px;
    border: 1px solid $colour3;
    border-radius: 5px;
    background-color: $white;
    transition: $transition;
    &.active {
      background-color: $colour3;
      color: $white;
      transition: $transition;
    }
    &:hover {
      background-color: $colour3;
      color: $white;
      transition: $transition;
    }
    &.img-btn {
      padding: 13px 25px;
      transition: $transition;
      &.active {
        & img {
          filter: brightness(0) invert(1);
          transition: $transition;
        }
      }
      &:hover {
        background-color: $colour3;
        transition: $transition;
        & img {
          filter: brightness(0) invert(1);
          transition: $transition;
        }
      }
    }
    &.sign-in {
      padding: 16px 27px;
      display: flex;
      gap: 19px;
      border: none;
      transition: $transition;
      &.active {
        & img {
          filter: brightness(0) invert(1);
          transition: $transition;
        }
      }
      &:hover {
        background-color: $colour3;
        transition: $transition;
        & img {
          filter: brightness(0) invert(1);
          transition: $transition;
        }
      }
    }
  }

  .agent-login {
    position: fixed;
    right: 20px;
    bottom: 20px;
    a {
      color: $colour3;
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      font-weight: 800;
      text-decoration: none;
      font-size: 14px;
      span {
        display: inline-block;
        margin-top: 8px;
      }
    }
  }

  #ClientPage {

    .sidebar {
      background: #04005A;
      background-image: url(../images/sidebar-graphic.svg);
      background-image: url(../images/sidebar-graphic.svg), linear-gradient(180deg,rgba(4, 0, 90, 1) 0%, rgba(11, 0, 194, 1) 100%);
      background-size: 1300px, auto;
      background-position: 55px -425px, center;
      height: 100vh;
      color: $white;
      .branding {
        background-color: transparent;
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: fit-content;
        justify-self: right;

        .support-logo {
          margin-top: 110px;
          margin-right: 24px;
          text-align: right;

        }
        .creators-logos {
          margin-right: 20px;
          margin-bottom: 15px;
          display: flex;
          flex-direction: column;
          & img:first-child {
            width: 75px;
          }
          .egov-logo {
            margin: 15px 0 25px 0;
          }
        }

      }
    }

    .content {
      background-color: $white;
      height: 100vh;
      .main-content {
        background-color: $white;
        height: 100vh;
        position: relative;
        width: 82%;
        max-height: 100vh;
        overflow: hidden;
        padding-left: 0;
        &--header {
          display: flex;
          align-items: center;
          padding: 54px 0 20px 80px;
          background-color: $white;
          position: sticky;
          top: 0;
          width: 100%;
          justify-content: space-between;
          &.add-shadow {
            box-shadow: -12px 4px 20px -17px #0f005f;
          }
          .header-left {
            width: 100%;
            & a {
              padding: 15px 60px;
            }
          }
          .header-right {
            display: flex;
            width: 45%;
            align-items: center;
            justify-content: flex-end;
            @media (max-width: 1500px) {
              width: 60%;
            }
          }
          .support-btn {
            margin-right: 35px;
            &.sign-in {
              margin-right: 0;
            }
          }
          .flag {
            margin: 0 20px;
            &-gr {
              margin-right: 5px;
            }
            &-us {
              margin-left: 5px;
            }
          }
        }

        &--body {
          height: 85vh;
          overflow-x: hidden;
          overflow-y: auto;
          padding: 0 20px 0 80px;
          &.inner-page {
            h1 {
              margin-bottom: 30px;
            }
            #ticketInfo {
              border-bottom: 1px solid #707070;
              width: 100%;
            }

            .-redactor-container {
              & + p {
                display: flex;
                justify-content: space-between;
                flex-direction: row-reverse;
              }
            }
            input[type="reset"] {
              display: none;
            }
            input[type="submit"] {
              margin-top: 20px;
              padding: 27px 75px;
              color: $colour3;
              border: 1px solid $colour3;
              border-radius: 5px;
              background-color: #FFFFFF;
              transition: $transition;
              font-weight: 600;
              &:hover {
                background-color: $colour3;
                color: #FFFFFF;
                transition: $transition;
              }
            }
            input[type="button"] {
              margin-top: 20px;
              padding: 27px 75px;
              color: #EE9C86;
              border: 1px solid #EE9C86;
              border-radius: 5px;
              background-color: #FFFFFF;
              transition: $transition;
              font-weight: 600;
              &:hover {
                background-color: #EE9C86;
                color: #FFFFFF;
                transition: $transition;
              }
            }

            table {
              tr {
                td {
                  &.headline {
                    color: $colour3;
                    font-weight: 600;
                    padding-bottom: 20px;
                  }
                  h1 {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    align-items: baseline;
                    padding-bottom: 45px;
                    border-bottom: 1px solid #707070;
                    b {
                      order: 2;
                      font-size: 20px;
                      color: $colour3;
                      line-height: 25px;
                    }
                    a {
                      .refresh.icon-refresh {
                        background-image: url(../images/refresh.svg);
                        display: inline-block;
                        width: 21px;
                        height: 21px;
                        position: absolute;
                        right: 0;
                        top: 17px;
                      }
                    }
                    small {
                      order: 1;
                    }
                    .pull-right {
                      order: 3;
                    }
                  }
                  a.action-button {
                    text-decoration: none;
                    color: $colour3;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 9px 17px;
                    border: 1px solid $colour3;
                    border-radius: 5px;
                    background-color: $white;
                    transition: $transition;
                    &:hover {
                      background-color: $colour3;
                      color: $white;
                      transition: $transition;
                      i {
                        filter: brightness(0) invert(1);
                        transition: $transition;
                      }
                    }
                    i {
                      background-size: cover;
                      display: inline-block;
                      transition: $transition;
                      position: relative;
                      top: 5px;
                      &.icon-print {
                        width: 20px;
                        height: 18px;
                        background-image: url(../images/printer.svg);
                      }
                      &.icon-edit {
                        width: 17px;
                        height: 17px;
                        background-image: url(../images/edit.svg);
                      }
                    }
                  }
                  table {
                    tr {
                      &:last-child {
                        td, th {
                          padding-bottom: 15px;
                        }
                      }
                      th {
                        color: $grey;
                        width: 30%;
                        min-width: 119px;
                      }
                      td {
                        color: $grey;
                      }
                    }
                  }
                }
              }
            }

            #ticketThread {
              .thread-event {
                &.action {
                  display: none;
                  & b {
                    & img {
                      margin-right: 5px;
                    }
                  }
                }
              }
              & [id^="thread-entry-"] {
                margin-bottom: 2rem;
                .thread-entry {
                  &.response {
                    & .header {
                      background-color: $colour3;
                      color: #ffffff;
                      border-width: 2px;
                      & .textra {
                        right: -7px;
                        left: auto;
                        transform: rotate(225deg);
                        background-color: $colour3;
                      }
                    }
                    & .thread-body {
                      margin-left: 0;
                      border-width: 2px;
                    }
                    & .avatar {
                      margin-top: 3px;
                      position: relative;
                      left: -46px;
                      top: 3px;
                    }
                  }
                  & .avatar {
                    margin-top: 3px;
                    width: 33px;
                  }
                  .header {
                    color: $colour3;
                    display: inline-block;
                    width: 85%;
                    font-size: 0;
                    padding: 23px 37px;
                    border: thin solid #050060;
                    border-radius: 5px 5px 0 0;
                    position: relative;
                    & b {
                      font-size: 16px;
                      float: left;
                    }
                    & time {
                      font-size: 16px;
                      float: right;
                    }
                    & .textra {
                      position: absolute;
                      width: 10px;
                      height: 10px;
                      border-bottom: thin solid;
                      border-left: thin solid;
                      left: -6px;
                      background-color: #fff;
                      transform: rotate(45deg);
                    }
                  }
                  & .pull-left {
                    float: left;
                    margin-right: 10px;
                  }
                  & .pull-right {
                    float: right;
                    margin-left: 10px;
                  }
                  & .thread-body {
                    color: #686C72;
                    margin-left: 43px;
                    width: 85%;
                    padding: 23px 37px;
                    border: thin solid #050060;
                    border-radius: 0 0 5px 5px;
                    border-top: 0;
                  }
                }
              }
            }

            form#reply {
              border: 2px solid $colour3;
              margin: 0 83px 70px 0;
              border-radius: 5px;
              padding: 24px 26px;
              & h2 {
                font-size: 16px;
                color: $colour3;
                font-weight: 600;
              }
              & em {
                font-style: normal;
                font-size: 16px;
                color: $grey;
              }
              & .redactor-box {
                border: 2px solid $colour3;
                & .redactor-in {
                  padding: 16px 18px;
                }
              }
              & .filedrop .dropzone {
                border: 2px dashed #0f005f;
                border-top: none;
                padding: 20px;
                position: relative;
                &::before {
                  content: "";
                  position: relative;
                  background-image: url(../images/plus.svg);
                  width: 26px;
                  height: 26px;
                  display: inline-block;
                  background-size: cover;
                  float: left;
                  margin-right: 10px;
                }
              }
            }
          }

          img.quote {
            margin: 118px 0 0 0;
          }

          h1 {
            font-size: 65px;
            font-weight: 300;
            line-height: 80px;
            color: $colour3;
            margin: 42px 0 120px 0;
            letter-spacing: 2px;
          }

          .btn-container {
            display: flex;
            margin: 30px 0 0 0;
            a.support-btn {
              margin-right: 32px;
              font-size: 16px;
            }
          }

        }
      }
    }
  }


  .form-container {

      padding-bottom: 50px;
    .form-field {
      label {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 11px;
        color: $colour3;
      }
      input {
        &[type="text"],
        &[type="email"],
        &[type="password"]{
          padding: 20px;
          margin-bottom: 30px;
        }
      }
      select {
        margin-bottom: 30px;
        padding: 20px;
      }
      textarea {
        padding: 20px;
        margin-bottom: 30px;
        min-height: 135px;
      }
    }
  }
}